.main-title{
  padding:7px 20px;
  text-align: left;
}

.main-title-bright{
  text-align: left;
}

.inner-body{

  text-align: left;

  ol li{text-align: left;}

  /**
   * All estates
   */
  .all-estates{

    .estate{

      .user-tools{
        font-size:14px;
      }


      .img-div{
        float:left;
      }

      .info-div{
        float:left;

        text-align: left;

      }
    }

  }



  // One estate
  .one-estate{


    .img-div{float:left;
      background:#DDD;

      .img-title{ text-align: left; }
    }
    .info-div{float:left;

      text-align: left;

      .key-value{
        .key{float:left;}
        .value{float:left;}
      }
    }
  }


  // Call us and message us box
  .big-icon-pair{
    margin-left:30px;
    float:left;

    img{float:left; margin-top:7px;}
    a{float:left; margin-right:0px; margin-left:10px;}
  }

  //
  .small-icon-pair{
    margin-right:0px;
    margin-left:10px;
    float:left;
    img{float:left; }
    a{font-size:16px; float:left; margin-right:0px; margin-left:5px;}
  }

  // Four box divider
  .four-box-divider{
    .box{

      .inner-box{
        text-align: left;

        h2{ height:inherit; padding:0px; over-flow:hidden;}
      }
    }
  }


  // one news
  .one-news{
    text-align: left;
  }


  // Add form
  .form-horizontal{

    padding-left:40px;

    hr{.make-md-column(12); border-color: #DDD;}

    input[type=checkbox]{float: left;}

    label{float:left; width:30%; font-size:14px; text-align: left; font-weight:normal;

    }
    .two-inputs, .form-control{float:left;
      text-align: left;
      @media(max-width:@screen-sm) {
        width:90%;
      }
      @media(max-width:@screen-xs) {
        width:100%;
      }
    }

    .two-inputs{
      .form-control:first-child{margin-right:2%}

      .form-control{float:left;}
    }
  }


  .upgrade-estate{
    text-align: left;
  }


  .pretty-text{
    text-align: left;
    padding-left:10px;
  }




  .comments{
    .comment{
      text-align: left;
    }
  }

}
