@import "../css/style.less";

body {
  font-size: 14px;
  direction:ltr;
}
.body{

  .sidebar{
    .make-md-column-push(0);
  }

  .inner-body{
    .make-md-column-pull(0);

    padding:0px;
    padding-left:10px;
  }
}

@import 'header.less';

@import 'sidebar.less';

@import "inner-body.less";

@import "footer.less";